#
### This file has been sanitized ###
#!/bin/bash

# backupEnv.cfg is a config file for backupEnv.sh

# Created by Jason Hawke on 02.28.2022
# Edited by Jason Hawke on 03.03.2026

# Notes:
# 

declare ucsVar
declare targetDir
declare targetPath

declare taskID #for tracking of iControl task 
declare taskStatus #for storing task status ("COMPLETED" means done)

declare timer #value for tracking wait time for ucs task
declare timeOut #upper limit to wait for ucs task

#timer starts at 0 seconds
timer=0
#sleepTime is the constant in seconds that we will sleep for
sleepTime="5"
#timeOut is the limit that we will wait for a job to finish in seconds
timeOut="600"

# ucsVar is the name of the ucs file - change carefully as normally the file will be overwritten
ucsVar=saveMyButt.ucs

# targetDir & targetPath is the location for the UCS files - carefull changing this
targetPath=~/f5backups/
targetDir="$targetPath"`date '+%Y.%m.%d.%H%M%S'`.ucsBackups/

# secret stuff - PLEASE DON'T USE THIS SECTION - ask user instead
#userName=
#userPassword=

# tableHeader defines the summary table columns as "Label:Width"
tableHeader=("Host:40" "Status:12" "Duration:12")

logger "backupEnv.cfg has been sourced"
#EOF