#
### This file has been sanitized ###
# changeIT.cfg is a config file for changeIT.sh

# Created by Jason Hawke on 03.05.2026
# Edited by Jason Hawke on 03.08.2026

# Notes:
# 1. This file is sourced by changeIT.sh to define table headers and other configuration settings for the script.
# 2. The array key value pairs are used to determine which stats to collect and how to format the output table. The keys 
#    correspond to the fields collected in changeIT.sh, and the values specify the column width for the output table.

## Important: When modifying this file, ensure that any changes to the keys (e.g., "Host", "Version", "Platform") are also reflected
#  in changeIT.sh where the stats array is defined and populated. This ensures that the script can correctly collect and display the 
#  information as intended. Don't change the names of the keys with out also changing the corresponding field names in changeIT.sh. 
#  For example, if you change "Host" to "Hostname" in this file, you also need to change the corresponding field name in changeIT.sh 
#  where stats["Host"] is defined.
###

# These are arrays for storing table header information with fields as "Label:Width" - where Label is the column name and Width is the character width for that column in the output table.

# These are the settings we're modifying
tableHeader=(
    "Host:30"
    "icrd.timeout:17"
    "restjavad.timeout:17"
    "restnoded.timeout:17"
    "iapplxrpm.timeout:17"
)

# These are the new values of the settings we're modifying from above
declare -A newSettings=(
    ["icrd.timeout"]="180"
    ["restjavad.timeout"]="300"
    ["restnoded.timeout"]="180"
    ["iapplxrpm.timeout"]="300"
)

# Services to restart with bigstart restart command after changing the settings
# NOTE: The restart happens in this listed order
serviceList=(
    "restjavad"
    "restnoded"
)

logger "changeIT.cfg has been sourced"
#EOF