#
### This file has been sanitized ###
# f5LibUtility.cfg is the config file for f5LibUtility.sh

# Created by Jason Hawke on 02.25.2026
# Edited by Jason Hawke on 03.08.2026

declare FMT #string for storing the table column sizes dynamically at run time
headerLabels=() #array that we use to store the actual column names
tableWidth=0 #the total column count for borders
declare -A stats #the "container" for collecting the data
declare rowData=() #array to hold final sorted values ready for printing
declare -a summaryRows=() #array to hold buffered rows for printSummaryTable
declare jobDuration #set by waitForTask; read by calling functions after waitForTask returns

declare userName #var used to store userName
declare userPassword #var to store passwd

declare emailFile #temp file for composing email
declare f5_email #used to route email

declare label #used for identifying arrays

declare dcVar #data center location (lab, east, west, all)
declare enVar #working environment (lab, tst, qa, prod, all)

declare targetHost #var to store a single host

declare inputFile #file for reading in an external file

declare token #var to hold the token for iControl REST calls
declare tokenID #var to hold the token ID for iControl REST calls
declare tokenTime #var to hold the token expiration time for iControl REST calls
declare authProvider #type of external auth provider configured on the F5 

# tokenTime in seconds - default is 1200 (20 minutes) - this is how long the token is valid for before it expires. Max is 36000 (10 hours)
tokenTime=1200

# authProvider - default is "tmos" (others: radius, ldap, tacacs, local) - this is the type of external auth provider configured on the F5 
authProvider="tmos"

# email info
emailFile="$scriptName".txt
#f5_email=admin@example.net
f5_email=admin@example.net

# Log directory and file
logDir="logs"
logFile="$logDir/$scriptName.log"

#arguments passed at run time
declare idcVar #which data center (home, east, west)
declare envVar #which environment (lab, tst, qa, prod)
declare zoneVar #which security zone (dmz or int)
declare testFlag #is this just a test?
declare askFlag #boolean for invoking interactive function when set to 1 - when set to 2 take host from command line

# secret stuff - PLEASE DON'T USE THIS SECTION - ask user instead
#userName=
#userPassword=

## The Timers and Service variables before are for the bounceAservice function

# Timers for monitoring the service restart
serviceTimer=5 # Time to wait before checking if the service is up after restart (in seconds)
startTime=15 # Time to wait for the service to start before testing (in seconds)
breakTime=180 # Time to wait before breaking the loop if the service does not start (in seconds)

# Services to restart with bigstart restart command after changing the settings
# NOTE: The restart happens in this listed order
# This is a stub record - it should actually be in the app script that needs this. '0' is a placeholder - delete it.
serviceList=(
    "0"
)

logger "f5LibUtility.cfg has been sourced"
#EOF