#
### This file has been sanitized ###
# getInfo.cfg is a config file for getInfo.sh

# Created by Jason Hawke on 09.26.2024
# Edited by Jason Hawke on 03.05.2026

# Notes:
# 1. This file is sourced by getInfo.sh to define table headers and other configuration settings for the script.
# 2. The array key value pairs are used to determine which stats to collect and how to format the output table. The keys correspond to the fields collected in getInfo.sh, and the values specify the column width for the output table.

## Important: When modifying this file, ensure that any changes to the keys (e.g., "Host", "Version", "Platform") are also reflected in getInfo.sh where the stats array is defined and populated. This ensures that the script can correctly collect and display the information as intended.
# Don't change the names of the keys with out also changing the corresponding field names in getInfo.sh. For example, if you change "Host" to "Hostname" in this file, you also need to change the corresponding field name in getInfo.sh where stats["Host"] is defined.
###

# These are arrays for storing table header information with fields as "Label:Width" - where Label is the column name and Width is the character width for that column in the output table.

# Memory specific stats
memoryTableHeader=("Host:30" "Version:16" "Platform:22" "RAMsize:8" "RESTjavaRAM:14" "TomcatRAM:11" "AuthPAMtimeOut:15" "icrd.timeout:17" "restjavad.timeout:17" "restnoded.timeout:17" "iapplxrpm.timeout:17")

# Hardware specific stats
hardwareTableHeader=("Host:30" "Version:16" "Platform:22" "RAMsize:8" "Cores:18" "CPU:41" "SerialNumber:20")

# Which modules are provisioned
softwareTableHeader=("Host:30" "Version:16" "Platform:22" "SoftwareProvisioned:70")

# This is the default table header if no options are specified. 
tableHeader=("Host:30" "Version:16" "Platform:22" "Cores:18" "RAMsize:8" "SerialNumber:20")

logger "getInfo.cfg has been sourced"
#EOF