#
### This file has been sanitized ###
# hostsInfo.cfg is a config file to be used by other scripts for communicating with our various F5 appliances

# Created by Jason Hawke on 08.19.2024
# Edited by Jason Hawke on 03.10.2026

# Notes:
# 1. This config file shouldn't change on a normal basis.
# Its purpose is to provide pre-populated lists of F5 devices.
#
# 2. The function, configureEnvVariables, is VERY important.
# This function connects the user input at runtime with the appropriate array.
#

# Set my variables

declare -a hostArray
declare hostArraySize

declare label

# host array information
hostArraySize=0

### arrays

# home lab
jasonhomelab_array=("13.1.1.50")

# lab
eastlabdmz_array=("")
westlabdmz_array=("")
alllabdmz_array=("")

eastlabint_array=("")
westlabint_array=("")
alllabint_array=("")

alllaball_array=("")

# tst
easttstdmz_array=("lbt01o-east.org" "lbt02o-east.org" "lbt03o-east.org" "lbt04o-east.org")
westtstdmz_array=("lbt01o-west.org" "lbt02o-west.org" "lbt03o-west.org" "lbt04o-west.org")
alltstdmz_array=("lbt01o-east.org" "lbt02o-east.org" "lbt03o-east.org" "lbt04o-east.org" "lbt01o-west.org" "lbt02o-west.org" "lbt03o-west.org" "lbt04o-west.org")

easttstint_array=("lbt01i-east.org" "lbt02i-east.org" "lbt03i-east.org" "lbt04i-east.org")
westtstint_array=("lbt01i-west.org" "lbt02i-west.org" "lbt03i-west.org" "lbt04i-west.org")
alltstint_array=("lbt01i-east.org" "lbt02i-east.org" "lbt03i-east.org" "lbt04i-east.org" "lbt01i-west.org" "lbt02i-west.org" "lbt03i-west.org" "lbt04i-west.org")

alltstall_array=("lbt01o-east.org" "lbt02o-east.org" "lbt03o-east.org" "lbt04o-east.org" "lbt01o-west.org" "lbt02o-west.org" "lbt03o-west.org" "lbt04o-west.org" "lbt01i-east.org" "lbt02i-east.org" "lbt03i-east.org" "lbt04i-east.org" "lbt01i-west.org" "lbt02i-west.org" "lbt03i-west.org" "lbt04i-west.org")

# east tst in dmz and int
easttstall_array=("lbt01o-east.org" "lbt02o-east.org" "lbt03o-east.org" "lbt04o-east.org" "lbt01i-east.org" "lbt02i-east.org" "lbt03i-east.org" "lbt04i-east.org")

# qa
eastqadmz_array=("lbq01o-east.org" "lbq02o-east.org" "lbq03o-east.org" "lbq04o-east.org" "lbqh1o-east.org" "lbqh2o-east.org")
westqadmz_array=("lbq01o-west.org" "lbq02o-west.org" "lbq03o-west.org" "lbq04o-west.org" "lbqh1o-west.org" "lbqh2o-west.org")
allqadmz_array=("lbq01o-east.org" "lbq02o-east.org" "lbq03o-east.org" "lbq04o-east.org" "lbqh1o-east.org" "lbqh2o-east.org" "lbq01o-west.org" "lbq02o-west.org" "lbq03o-west.org" "lbq04o-west.org" "lbqh1o-west.org" "lbqh2o-west.org")

eastqaint_array=("lbq01i-east.org" "lbq02i-east.org" "lbq03i-east.org" "lbq04i-east.org" "lbqh1i-east.org" "lbqh2i-east.org")
westqaint_array=("lbq01i-west.org" "lbq02i-west.org" "lbq03i-west.org" "lbq04i-west.org" "lbqh1i-west.org" "lbqh2i-west.org")
allqaint_array=("lbq01i-east.org" "lbq02i-east.org" "lbq03i-east.org" "lbq04i-east.org" "lbqh1i-east.org" "lbqh2i-east.org" "lbq01i-west.org" "lbq02i-west.org" "lbq03i-west.org" "lbq04i-west.org" "lbqh1i-west.org" "lbqh2i-west.org")

allqaall_array=("lbq01o-east.org" "lbq02o-east.org" "lbq03o-east.org" "lbq04o-east.org" "lbqh1o-east.org" "lbqh2o-east.org" "lbq01o-west.org" "lbq02o-west.org" "lbq03o-west.org" "lbq04o-west.org" "lbqh1o-west.org" "lbqh2o-west.org" "lbq01i-east.org" "lbq02i-east.org" "lbq03i-east.org" "lbq04i-east.org" "lbqh1i-east.org" "lbqh2i-east.org" "lbq01i-west.org" "lbq02i-west.org" "lbq03i-west.org" "lbq04i-west.org" "lbqh1i-west.org" "lbqh2i-west.org")

# prod
eastproddmz_array=("lbp01o-east.org" "lbp02o-east.org" "lbp03o-east.org" "lbp04o-east.org" "lbp05o-east.org" "lbp06o-east.org" "lbph1o-east.org" "lbph2o-east.org")
westproddmz_array=("lbp01o-west.org" "lbp02o-west.org" "lbp03o-west.org" "lbp04o-west.org" "lbp05o-west.org" "lbp06o-west.org" "lbph1o-west.org" "lbph2o-west.org")
allproddmz_array=("lbp01o-east.org" "lbp02o-east.org" "lbp03o-east.org" "lbp04o-east.org" "lbp05o-east.org" "lbp06o-east.org" "lbph1o-east.org" "lbph2o-east.org" "lbp01o-west.org" "lbp02o-west.org" "lbp03o-west.org" "lbp04o-west.org" "lbp05o-west.org" "lbp06o-west.org" "lbph1o-west.org" "lbph2o-west.org")

eastprodint_array=("lbp01i-east.org" "lbp02i-east.org" "lbp03i-east.org" "lbp04i-east.org" "lbph1i-east.org" "lbph2i-east.org")
westprodint_array=("lbp01i-west.org" "lbp02i-west.org" "lbp03i-west.org" "lbp04i-west.org" "lbph1i-west.org" "lbph2i-west.org")
allprodint_array=("lbp01i-east.org" "lbp02i-east.org" "lbp03i-east.org" "lbp04i-east.org" "lbph1i-east.org" "lbph2i-east.org" "lbp01i-west.org" "lbp02i-west.org" "lbp03i-west.org" "lbp04i-west.org" "lbph1i-west.org" "lbph2i-west.org")

# westprodall - DMZ and INT for WEST Prod option
westprodall_array=("lbp01o-west.org" "lbp02o-west.org" "lbp03o-west.org" "lbp04o-west.org" "lbp05o-west.org" "lbp06o-west.org" "lbph1o-west.org" "lbph2o-west.org" "lbp01i-west.org" "lbp02i-west.org" "lbp03i-west.org" "lbp04i-west.org" "lbph1i-west.org" "lbph2i-west.org")

# 'allprodall' is east and west in prod in dmz and int
allprodall_array=("lbp01o-east.org" "lbp02o-east.org" "lbp03o-east.org" "lbp04o-east.org" "lbp05o-east.org" "lbp06o-east.org" "lbph1o-east.org" "lbph2o-east.org" "lbp01o-west.org" "lbp02o-west.org" "lbp03o-west.org" "lbp04o-west.org" "lbp05o-west.org" "lbp06o-west.org" "lbph1o-west.org" "lbph2o-west.org" "lbp01i-east.org" "lbp02i-east.org" "lbp03i-east.org" "lbp04i-east.org" "lbph1i-east.org" "lbph2i-east.org" "lbp01i-west.org" "lbp02i-west.org" "lbp03i-west.org" "lbp04i-west.org" "lbph1i-west.org" "lbph2i-west.org")

# the 'all all dmz' is Test, QA, and Prod for the DMZ
allalldmz_array=("lbt01o-east.org" "lbt02o-east.org" "lbt03o-east.org" "lbt04o-east.org" "lbt01o-west.org" "lbt02o-west.org" "lbt03o-west.org" "lbt04o-west.org" "lbq01o-east.org" "lbq02o-east.org" "lbq03o-east.org" "lbq04o-east.org" "lbqh1o-east.org" "lbqh2o-east.org" "lbq01o-west.org" "lbq02o-west.org" "lbq03o-west.org" "lbq04o-west.org" "lbqh1o-west.org" "lbqh2o-west.org" "lbp01o-east.org" "lbp02o-east.org" "lbp03o-east.org" "lbp04o-east.org" "lbp05o-east.org" "lbp06o-east.org" "lbph1o-east.org" "lbph2o-east.org" "lbp01o-west.org" "lbp02o-west.org" "lbp03o-west.org" "lbp04o-west.org" "lbp05o-west.org" "lbp06o-west.org" "lbph1o-west.org" "lbph2o-west.org")

# the 'all all int' is Test, QA, and Prod for the INT
allallint_array=("lbt01i-east.org" "lbt02i-east.org" "lbt03i-east.org" "lbt04i-east.org" "lbt01i-west.org" "lbt02i-west.org" "lbt03i-west.org" "lbt04i-west.org" "lbq01i-east.org" "lbq02i-east.org" "lbq03i-east.org" "lbq04i-east.org" "lbqh1i-east.org" "lbqh2i-east.org" "lbq01i-west.org" "lbq02i-west.org" "lbq03i-west.org" "lbq04i-west.org" "lbqh1i-west.org" "lbqh2i-west.org" "lbp01i-east.org" "lbp02i-east.org" "lbp03i-east.org" "lbp04i-east.org" "lbph1i-east.org" "lbph2i-east.org" "lbp01i-west.org" "lbp02i-west.org" "lbp03i-west.org" "lbp04i-west.org" "lbph1i-west.org" "lbph2i-west.org")

#the 'all all all' is really Test, QA, and Prod - it excludes lab environments
allallall_array=("lbt01o-east.org" "lbt02o-east.org" "lbt03o-east.org" "lbt04o-east.org" "lbt01o-west.org" "lbt02o-west.org" "lbt03o-west.org" "lbt04o-west.org" "lbq01o-east.org" "lbq02o-east.org" "lbq03o-east.org" "lbq04o-east.org" "lbqh1o-east.org" "lbqh2o-east.org" "lbq01o-west.org" "lbq02o-west.org" "lbq03o-west.org" "lbq04o-west.org" "lbqh1o-west.org" "lbqh2o-west.org" "lbp01o-east.org" "lbp02o-east.org" "lbp03o-east.org" "lbp04o-east.org" "lbp05o-east.org" "lbp06o-east.org" "lbph1o-east.org" "lbph2o-east.org" "lbp01o-west.org" "lbp02o-west.org" "lbp03o-west.org" "lbp04o-west.org" "lbp05o-west.org" "lbp06o-west.org" "lbph1o-west.org" "lbph2o-west.org" "lbt01i-east.org" "lbt02i-east.org" "lbt03i-east.org" "lbt04i-east.org" "lbt01i-west.org" "lbt02i-west.org" "lbt03i-west.org" "lbt04i-west.org" "lbq01i-east.org" "lbq02i-east.org" "lbq03i-east.org" "lbq04i-east.org" "lbqh1i-east.org" "lbqh2i-east.org" "lbq01i-west.org" "lbq02i-west.org" "lbq03i-west.org" "lbq04i-west.org" "lbqh1i-west.org" "lbqh2i-west.org" "lbp01i-east.org" "lbp02i-east.org" "lbp03i-east.org" "lbp04i-east.org" "lbph1i-east.org" "lbph2i-east.org" "lbp01i-west.org" "lbp02i-west.org" "lbp03i-west.org" "lbp04i-west.org" "lbph1i-west.org" "lbph2i-west.org")

# configureEnvVariables is a function that will set the correct environmental variables
# $1=dcVar, $2=envVar, $3=zoneVar
configureEnvVariables() {
echo "Setting up the environment..."
logger "Seting env variables"
echo "You have selected $dcVar datacenter"
echo "You have selected $enVar environment"
echo "You have selected $zoneVar security zone"
echo ""
logger "You have selected $dcVar datacenter"
logger "You have selected $enVar environment"
logger "You have selected $zoneVar security zone"

# selecting data center
case $1 in 
	jason)
	label="jason"
	;;
	
	east)
	label="east"
	;;
	
	west)
	label="west"
	;;
	
	all)
	label="all"
	;;
	
	ask)
	ask
	return
	;;
			
	*)
	#wild card catch all
	displayHelp
	;;
esac

# selecting environment
case $2 in 
	home)
	label="${label}home"
	;;
	
	lab)
	label="${label}lab"
	;;
	
	tst)
	label="${label}tst"
	;;
	
	qa)
	label="${label}qa"
	;;
	
	prod)
	label="${label}prod"
	;;

	all)
	label="${label}all"
	;;
	
	*)
	#wild card catch all
	displayHelp
	;;
esac

# selecting zone
case $3 in 
	lab)
	label="${label}lab"
	;;
	
	dmz)
	label="${label}dmz"
	;;
	
	int)
	label="${label}int"
	;;
	
	all)
	label="${label}all"
	;;
		
	*)
	#wild card catch all
	displayHelp
	;;
esac
echo "Your label is: $label"

# setting the array
case $label in 
	jasonhomelab)
	hostArray=("${jasonhomelab_array[@]}")
	;;
	
	eastlabdmz)
	hostArray=("${eastlabdmz_array[@]}")
	;;
	
	westlabdmz)
	hostArray=("${westlabdmz_array[@]}")
	;;
	
	alllabdmz)
	hostArray=("${alllabdmz_array[@]}")
	;;

	eastlabint)
	hostArray=("${eastlabint_array[@]}")
	;;
	
	westlabint)
	hostArray=("${westlabint_array[@]}")
	;;
	
	alllabint)
	hostArray=("${alllabint_array[@]}")
	;;

	alllaball)
	hostArray=("${alllaball_array[@]}")
	;;
		
	easttstdmz)
	hostArray=("${easttstdmz_array[@]}")
	;;
	
	westtstdmz)
	hostArray=("${westtstdmz_array[@]}")
	;;
	
	alltstdmz)
	hostArray=("${alltstdmz_array[@]}")
	;;
		
	easttstint)
	hostArray=("${easttstint_array[@]}")
	;;
	
	westtstint)
	hostArray=("${westtstint_array[@]}")
	;;
	
	alltstint)
	hostArray=("${alltstint_array[@]}")
	;;

	alltstall)
	hostArray=("${alltstall_array[@]}")
	;;
	
	easttstall)
	hostArray=("${easttstall_array[@]}")
	;;
	
	eastqadmz)
	hostArray=("${eastqadmz_array[@]}")
	;;
	
	westqadmz)
	hostArray=("${westqadmz_array[@]}")
	;;
	
	allqadmz)
	hostArray=("${allqadmz_array[@]}")
	;;

	eastqaint)
	hostArray=("${eastqaint_array[@]}")
	;;
	
	westqaint)
	hostArray=("${westqaint_array[@]}")
	;;
	
	allqaint)
	hostArray=("${allqaint_array[@]}")
	;;

	allqaall)
	hostArray=("${allqaall_array[@]}")
	;;

	eastproddmz)
	hostArray=("${eastproddmz_array[@]}")
	;;
	
	westproddmz)
	hostArray=("${westproddmz_array[@]}")
	;;
	
    westprodall)
    hostArray=("${westprodall_array[@]}")
    ;;

	allproddmz)
	hostArray=("${allproddmz_array[@]}")
	;;

	eastprodint)
	hostArray=("${eastprodint_array[@]}")
	;;
	
	westprodint)
	hostArray=("${westprodint_array[@]}")
	;;
	
	allprodint)
	hostArray=("${allprodint_array[@]}")
	;;

	allprodall)
	hostArray=("${allprodall_array[@]}")
	;;

	allalldmz)
	hostArray=("${allalldmz_array[@]}")
	;;

	allallint)
	hostArray=("${allallint_array[@]}")
	;;
	
	allallall)
	hostArray=("${allallall_array[@]}")
	;;
	
	*)
	echo "Uh oh. Something went wrong. Try again."
	displayHelp
	goodBye
	;;
esac	

}

# displayHelp is a stub function
displayHelp() {
echo "Error: displayHelp stub function invoked from hostsInfo.cfg"
logger "Error: displayHelp stub function invoked from hostsInfo.cfg"
}

# goodBye is a stub function
goodBye() {
echo "Error: goodBye stub function invoked from hostsInfo.cfg"
logger "Error: goodBye stub function invoked from hostsInfo.cfg"
}

logger "hostsInfo.cfg has been sourced"