#
### This file has been sanitized ###
# hostsInfo.cfg is a config file to be used by other scripts for communicating with our various F5 appliances

# Created by Jason Hawke on 08.19.2024
# Edited by Jason Hawke on 03.19.2026

# Notes:
# 1. This config file shouldn't change on a normal basis.
# Its purpose is to provide pre-populated lists of F5 devices.
#
# 2. The function, configureEnvVariables, is VERY important.
# This function connects the user input at runtime with the appropriate array.
#

# Set my variables

declare -a hostArray
declare hostArraySize

declare label

# host array information
hostArraySize=0

### arrays
# *** NOTE: the arrays below are examples. They should be populated with the appropriate IP addresses for your environment. ***

# home lab
jasonhomelab_array=("192.168.100.1")

# lab
alllaball_array=("")


# configureEnvVariables is a function that will set the correct environmental variables
# $1=dcVar, $2=envVar, $3=zoneVar
configureEnvVariables() {
echo "Setting up the environment..."
logger "Seting env variables"
echo "You have selected $dcVar datacenter"
echo "You have selected $enVar environment"
echo "You have selected $zoneVar security zone"
echo ""
logger "You have selected $dcVar datacenter"
logger "You have selected $enVar environment"
logger "You have selected $zoneVar security zone"

# selecting data center
case $1 in 
	jason)
	label="jason"
	;;
	
	east)
	label="east"
	;;
	
	west)
	label="west"
	;;
	
	all)
	label="all"
	;;
	
	ask)
	ask
	return
	;;
			
	*)
	#wild card catch all
	displayHelp
	;;
esac

# selecting environment
case $2 in 
	home)
	label="${label}home"
	;;
	
	lab)
	label="${label}lab"
	;;
	
	tst)
	label="${label}tst"
	;;
	
	qa)
	label="${label}qa"
	;;
	
	prod)
	label="${label}prod"
	;;

	all)
	label="${label}all"
	;;
	
	*)
	#wild card catch all
	displayHelp
	;;
esac

# selecting zone
case $3 in 
	lab)
	label="${label}lab"
	;;
	
	dmz)
	label="${label}dmz"
	;;
	
	int)
	label="${label}int"
	;;
	
	all)
	label="${label}all"
	;;
		
	*)
	#wild card catch all
	displayHelp
	;;
esac
echo "Your label is: $label"

# setting the array
case $label in 
	jasonhomelab)
	hostArray=("${jasonhomelab_array[@]}")
	;;
	
	eastlabdmz)
	hostArray=("${eastlabdmz_array[@]}")
	;;
	
	westlabdmz)
	hostArray=("${westlabdmz_array[@]}")
	;;
	
	alllabdmz)
	hostArray=("${alllabdmz_array[@]}")
	;;

	eastlabint)
	hostArray=("${eastlabint_array[@]}")
	;;
	
	westlabint)
	hostArray=("${westlabint_array[@]}")
	;;
	
	alllabint)
	hostArray=("${alllabint_array[@]}")
	;;

	alllaball)
	hostArray=("${alllaball_array[@]}")
	;;
		
	easttstdmz)
	hostArray=("${easttstdmz_array[@]}")
	;;
	
	westtstdmz)
	hostArray=("${westtstdmz_array[@]}")
	;;
	
	alltstdmz)
	hostArray=("${alltstdmz_array[@]}")
	;;
		
	easttstint)
	hostArray=("${easttstint_array[@]}")
	;;
	
	westtstint)
	hostArray=("${westtstint_array[@]}")
	;;
	
	alltstint)
	hostArray=("${alltstint_array[@]}")
	;;

	alltstall)
	hostArray=("${alltstall_array[@]}")
	;;
	
	easttstall)
	hostArray=("${easttstall_array[@]}")
	;;
	
	eastqadmz)
	hostArray=("${eastqadmz_array[@]}")
	;;
	
	westqadmz)
	hostArray=("${westqadmz_array[@]}")
	;;
	
	allqadmz)
	hostArray=("${allqadmz_array[@]}")
	;;

	eastqaint)
	hostArray=("${eastqaint_array[@]}")
	;;
	
	westqaint)
	hostArray=("${westqaint_array[@]}")
	;;
	
	allqaint)
	hostArray=("${allqaint_array[@]}")
	;;

	allqaall)
	hostArray=("${allqaall_array[@]}")
	;;

	eastproddmz)
	hostArray=("${eastproddmz_array[@]}")
	;;
	
	westproddmz)
	hostArray=("${westproddmz_array[@]}")
	;;
	
    westprodall)
    hostArray=("${westprodall_array[@]}")
    ;;

	allproddmz)
	hostArray=("${allproddmz_array[@]}")
	;;

	eastprodint)
	hostArray=("${eastprodint_array[@]}")
	;;
	
	westprodint)
	hostArray=("${westprodint_array[@]}")
	;;
	
	allprodint)
	hostArray=("${allprodint_array[@]}")
	;;

	allprodall)
	hostArray=("${allprodall_array[@]}")
	;;

	allalldmz)
	hostArray=("${allalldmz_array[@]}")
	;;

	allallint)
	hostArray=("${allallint_array[@]}")
	;;
	
	allallall)
	hostArray=("${allallall_array[@]}")
	;;
	
	*)
	echo "Uh oh. Something went wrong. Try again."
	displayHelp
	goodBye
	;;
esac	

}

# displayHelp is a stub function
displayHelp() {
echo "Error: displayHelp stub function invoked from hostsInfo.cfg"
logger "Error: displayHelp stub function invoked from hostsInfo.cfg"
}

# goodBye is a stub function
goodBye() {
echo "Error: goodBye stub function invoked from hostsInfo.cfg"
logger "Error: goodBye stub function invoked from hostsInfo.cfg"
}

logger "hostsInfo.cfg has been sourced"