#
### This file has been sanitized ###
# scaffold.cfg is a config file for scaffold.sh

# Created by Jason Hawke on 00.00.2024
# Edited by Jason Hawke on 00.00.2026

# Notes:
# 0. Update this file according to your needs and requirements. Be mindful of what should go in here vs the library script
#    config file. Generally, this file is for defining table headers and other configuration settings specific to the scaffold.sh 
#    script, while the library script config file is for defining credentials and other settings that are shared across multiple scripts.
# 1. This file is sourced by scaffold.sh to define table headers and other configuration settings for the script.
# 2. The array key value pairs are used to determine which stats to collect and how to format the output table. The keys 
#    correspond to the fields collected in scaffold.sh, and the values specify the column width for the output table.

## Important: When modifying this file, ensure that any changes to the keys (e.g., "Host", "Version", "Platform") are also reflected
#  in scaffold.sh where the stats array is defined and populated. This ensures that the script can correctly collect and display the 
#  information as intended. Don't change the names of the keys with out also changing the corresponding field names in scaffold.sh. 
#  For example, if you change "Host" to "Hostname" in this file, you also need to change the corresponding field name in scaffold.sh 
#  where stats["Host"] is defined.
###

# These are arrays for storing table header information with fields as "Label:Width" - where Label is the column name and Width is the character width for that column in the output table.

# This is the default table header if no options are specified. 
tableHeader=("Host:30" "Version:16" "Platform:22" "Cores:18" "RAMsize:8" "SerialNumber:20")
logger "scaffold.cfg has been sourced"
#EOF